@import "tailwindcss";

@layer utilities {
    * {
        box-sizing: border-box;
    }

    :disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.6;
    }

    ::placeholder {
        user-select: none;
    }
}